contentpage {
    background-color: #8eadc1;
}

stacklayout {
    background-color: #8eadc1;
}

label {
    color: black;
    font-family: Tahoma;
    
}

Entry {
    color: black;
    font-family: Tahoma;
    height:40;
   
}

button {
    color: black;
    background-color: #8eadc1;
    font-family: Tahoma;
   
}

frame {
    background-color: white;
    
}

boxview {
    background-color: #8eadc1;
}

.initial {
    background-color: #8eadc1;
}
.Logo {
    vertical-align: central;
    align-items: center;
    align-self: center;
    height:50;
    width:50;
}
.title {
    font-size: medium;
    font-style: bold;
    text-align: center;
 
}
.header {
    font-style: bold;
    text-align: center;
    margin-left: 0;
    margin-top: -8;
    margin-right: 0;
    margin-bottom: 0;
}
.UserFrme {
    padding: 10 10 10 10;
    margin-left:20;
    margin-top:-10;
    margin-right:20;
    margin-bottom:20;
   border-color:black;
   
}
.warningimg
{
    height:28;
}
.font{
    font-size: 13;
}
.reggrid {
    margin-left: 0;
    margin-top: -20;
    margin-right: 0;
    margin-bottom: 0;
}

.Regfrme {
    margin-left: 20;
    margin-top: 10;
    margin-right: 20;
    margin-bottom: 0;
    padding:20;
    border-color:black;
}
.boxview{
    background-color:white;
}
.AccButton {
    height: 50;
    font-style: bold;
}
.forgotpwd {
    font-size: 14;
    text-decoration:underline;
}

.pwd {
    margin-left: 20;
    margin-top: 20;
    margin-right: 20;
    margin-bottom: 20;
    border-color: black;
}
.fontsize{
    font-size: 14;
}
.tick{
    height:50;
}
.grid {
    padding-left: 10;
    padding-top: 30;
    padding-right: 0;
    padding-bottom: 0;
}
.ticklbl {
    margin-left: 100;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 14;
}
.red{
    border-color:red;
}
.resett {
    Background-Color: #8eadc1;
    margin-left: 0;
    margin-top: 15;
    margin-right: 0;
    margin-bottom: 0;
}
.resetimg{
    height:25;
}
.resettapped {
    font-size: 15;
    text-decoration: underline;
}
.stack{
    background-color:white;
}
.mboardframe {
    background-color: #8eadc1;
    border-color: black;
    margin-left: -10;
    margin-top: 0;
    margin-right: -3;
    margin-bottom: 0;
}
.mboardlogo {
    margin-left: 0;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: -5;
    height:50;
    width:50;
    vertical-align:central;
}
.mboardtest {
    margin-left: 0;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
    font-size:13;
   
}
.mboardlbl {
    margin-left: 0;
    margin-top: 20;
    margin-right: 0;
    margin-bottom: 0;
    font-size:10;
    vertical-align:central;
}
.signout{
    vertical-align:central;
    height:28;
    width:50;
}
.signoutlbl {
    font-style: bold;
    margin-left: 0;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: 0;
    font-size:10;
}
.lbl {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size:14;
}
.date {
    font-size: 14;
    margin-left: 10;
    margin-top: -25;
    margin-right: 10;
    margin-bottom: 0;
}

.listview{
    background-color:transparent;
}
.liststack {
    background-color: #EEE;
    padding-left:0;
    padding-top:5;
    padding-right:0;
    padding-bottom:0;
}
.listboxview {
    color: black;
    height: 1;
    margin-left: -30;
    margin-top: 0;
    margin-right: -10;
    margin-bottom: 0;
}
.listgrid {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.manifestlbl {
    margin-left: 0;
    margin-top: 17;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 15;
    font-style: bold;
}
.txtfont {
    margin-left: 10;
    margin-top: 10;
    margin-right: 5;
    margin-bottom: 0;
    font-size:13;
}
.gridData {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.underline{
    text-decoration:underline;
}
.hawb{
    text-decoration:underline;
    font-size:13;
}
.framelbl {
    width: 110;
    padding: 5;
    border-color:black;
    margin-left: -20;
    margin-top: 0;
    margin-right: -15;
    margin-bottom: 0;
}
.manifesttxt {
    margin-left: 0;
    margin-top: 10;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration:underline;
    font-size:15;
}