contentpage {
    background-color: #8eadc1;
}

stacklayout {
    background-color: #8eadc1;
}

label {
    color: black;
    font-family: Tahoma;
    
}

Entry {
    color: black;
    font-family: Tahoma;
    height:40;
   
}

button {
    color: black;
    background-color: #8eadc1;
    font-family: Tahoma;
   
}

frame {
    background-color: white;
    
}

boxview {
    background-color: #8eadc1;
}

.initial {
    background-color: #8eadc1;
}
.Logo {
    vertical-align: central;
    align-items: center;
    align-self: center;
    height:50;
    width:50;
}
.title {
    font-size: medium;
    font-style: bold;
    text-align: center;
 
}
.header {
    font-style: bold;
    text-align: center;
    margin-left: 0;
    margin-top: -8;
    margin-right: 0;
    margin-bottom: 0;
}
.UserFrme {
    padding: 10 10 10 10;
    margin-left:20;
    margin-top:-10;
    margin-right:20;
    margin-bottom:20;
   border-color:black;
   
}
.warningimg
{
    height:28;
}
.font{
    font-size: 13;
}
.reggrid {
    margin-left: 0;
    margin-top: -20;
    margin-right: 0;
    margin-bottom: 0;
}

.Regfrme {
    margin-left: 20;
    margin-top: 10;
    margin-right: 20;
    margin-bottom: 0;
    padding:20;
    border-color:black;
}
.boxview{
    background-color:white;
}
.AccButton {
    height: 50;
    font-style: bold;
}
.forgotpwd {
    font-size: 14;
    text-decoration:underline;
}

.pwd {
    margin-left: 20;
    margin-top: 20;
    margin-right: 20;
    margin-bottom: 20;
    border-color: black;
}
.fontsize{
    font-size: 14;
}
.tick{
    height:50;
}
.grid {
    padding-left: 10;
    padding-top: 30;
    padding-right: 0;
    padding-bottom: 0;
}
.ticklbl {
    margin-left: 90;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 14;
}
.red{
    border-color:red;
}
.resett {
    Background-Color: #8eadc1;
    margin-left: 0;
    margin-top: 15;
    margin-right: 0;
    margin-bottom: 0;
}
.resetimg{
    height:25;
}
.resettapped {
    font-size: 15;
    text-decoration: underline;
}
.stack{
    background-color:white;
}
.mboardframe {
    background-color: #8eadc1;
    border-color: black;
    margin-left: -10;
    margin-top: 0;
    margin-right: -3;
    margin-bottom: 0;
}
.mboardlogo {
    margin-left: 0;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: -5;
    height:50;
    width:50;
    vertical-align:central;
}
.mboardtest {
    margin-left: 0;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
    font-size:13;
   
}
.mboardlbl {
    margin-left: 0;
    margin-top: 25;
    margin-right: 0;
    margin-bottom: 0;
    font-size:12;
    vertical-align:central;
}
.signout{
    vertical-align:central;
    height:34;
    width:56;
}
.signoutlbl {
    font-style: bold;
    margin-left: 0;
    margin-top: -8;
    margin-right: 0;
    margin-bottom: 0;
    font-size:13;
}
.lbl {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size:14;
}
.date {
    font-size: 14;
    margin-left: 10;
    margin-top: -25;
    margin-right: 9;
    margin-bottom: 0;
}
.sdate {
    font-size: 14;
    margin-left: 10;
    margin-top: -55;
    margin-right: 9;
    margin-bottom: 0;
}

.listview {
    background-color: transparent;
}
.liststack {
    background-color: #EEE;
    padding-left:0;
    padding-top:5;
    padding-right:0;
    padding-bottom:0;
}
.listboxview {
    color: black;
    height: 1;
    margin-left: -30;
    margin-top: -3;
    margin-right: -10;
    margin-bottom: 0;
}
.listgrid {
    margin-left: 10;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
    
}
.manifestlbl {
    margin-left: 0;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 15;
    font-style: bold;
}
.txtfont {
    margin-left: 10;
    margin-top: 10;
    margin-right: 5;
    margin-bottom: 0;
    font-size:13;
}
.gridData {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.underline{
    text-decoration:underline;
}
.hawb{
    text-decoration:underline;
    font-size:13;
}
.framelbl {
    width: 90;
    padding: 5;
    border-color:black;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10;
    margin-bottom: 0;
}
.manifesttxt {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
    font-size: 14;
    font-style: bold;
}
.ItemDetailmargin {
    margin-left: 0;
    margin-top: -3;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.address {
    text-decoration: underline;
    font-size: 13;
    margin-left: 0;
    margin-top: -3;
    margin-right: 0;
    margin-bottom: 0;
}
.addresslink {
    font-size: 13;
    margin-left: 0;
    margin-top: -3;
    margin-right: 0;
    margin-bottom: 0;
}
.servicedate {
    margin-left: 0;
    margin-top: -2;
    margin-right: 0;
    margin-bottom: 0;
}
.slineclass {
    margin-left: 0;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.shipmentgrid {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.shipsignout {
    font-size: 14;
    height:50;
    text-decoration:underline;
}
.subsign {
    margin-left: -2;
    margin-top: -2;
    margin-right: 0;
    margin-bottom: 0;
    font-style: bold;
}
.shipmanifest {
    margin-left: -3;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    height: 50;
    text-decoration: underline;
}
#lblship {
    margin-left: -3;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.shipdetails {
    margin-left: -3;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
}
.shipdate {
    font-size: 14;
    margin-left: 10;
    margin-top: -56;
    margin-right: 9;
    margin-bottom: 0;
}
#lblhawb {
    margin-left: 0;
    margin-top: 15;
    margin-right: 0;
    margin-bottom: 10;
    color: #2B78E4;
    font-size: 15;
    font-style: bold;
}
#btnship {
    border-color: black;
    color: black;
    border-width: 2;
    margin-left: 65;
    margin-top: -5;
    margin-right: 65;
    margin-bottom: 10;
    font-style: bold;   
    height:30;
}
#lblmovetype {
    margin-left: 10;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    font-style: bold;
}
#lblservicedate {
    margin-left: 0;
    margin-top: 5;
    margin-right: 10;
    margin-bottom: 0;
    font-size: 14;
    font-style: bold;
}
#shipdetails {
    margin-left: 2;
    margin-top: 0;
    margin-right: 2;
    margin-bottom: 0;
}
.listcolor {
    background-color: #DDDDDD;
}
.leftalign {
    margin-left: 10;
    margin-top: 10;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.rightalign {
    margin-left: 0;
    margin-top: 0;
    margin-right: 10;
    margin-bottom: 0;
    font-size: 13;
}
.gridalign {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.mapcolor {
    background-color: #999999;
    height:40;
}
.directions {
    margin-left: 10;
    margin-top: 10;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    font-style: bold;
    text-decoration: underline;
}
.carimg {
    margin-left: 10;
    margin-top: 10;
    margin-right: 10;
    margin-bottom: 0;
    height:20;
    width:20;
}
.address1 {
    margin-left: 10;
    margin-top: 3;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.address2 {
    margin-left: 10;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
}
.border {
    margin-left: -10;
    margin-top: -10;
    margin-right: -10;
    margin-bottom: 0;
    border-color: #FFF;
}
#grdsplins{
    height:10;
}
#lblSPI {
    margin-left: 0;
    margin-top: -10;
    margin-right: 0;
    margin-bottom: 0;
    font-size:13;
    color:black;
}
#arrow {
    height: 20;
    width:20;
    margin-left: 0;
    margin-top: -3;
    margin-right: 0;
    margin-bottom: 0;
}
.Bcolor {
    height: 35;
    background-color: #DDDDDD;
}
.lblDcargo {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
    color:black;
}
.lblNo {
    margin-left: 0;
    margin-top: 0;
    margin-right: 10;
    margin-bottom: 0;
}
.shipline {
    background-color: #FFF;
    height:1;
}
.shipnotesgrid {
    height: 40;
    margin-left: 0;
    margin-top: -10;
    margin-right: 0;
    margin-bottom: 0;
}
.shiplblnotes {
    margin-left: 10;
    margin-top: 8;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 13;
    color: black;
}

.lblpic {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    color:black;
}
.shipbtncamera {
    margin-left: 0;
    margin-top: -20;
    margin-right: 10;
    margin-bottom: 0;
    height: 25;
    width: 25;
}
.shiplbltkpicno {
    font-size: 12;
    margin-left: 0;
    margin-top: 15;
    margin-right: 5;
    margin-bottom: 0;
}
.actions {
    margin-left: 10;
    margin-top: 10;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    color:black;
}
#imgactions {
    margin-left: 0;
    margin-top: 0;
    margin-right: 8;
    margin-bottom: 0;
}
.imgsign{
    height:100;
    width:100;
}
.arrowimg {
    margin-left: 0;
    margin-top: 8;
    margin-right: 8;
    margin-bottom: 0;
}
#Btnsign {
    margin-left: 65;
    margin-top: 0;
    margin-right: 65;
    margin-bottom: 0;
    background-color: #EEEEEE;
}
#Btnmarkship {
    background-color: #DDDDDD;
    border-color: black;
    color: black;
    border-width: 2;
    margin-left: 65;
    margin-top: 5;
    margin-right: 65;
    margin-bottom: 10;
    font-style: bold;
    height:30;
}
.stckrow{
    height:30;
    background-color:white;
}
.bckbtn {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    height:30;
}
.bckcolor {
    background-color: #EEEEEE;
    margin-left: 0;
    margin-top: -5;
    margin-right: 0;
    margin-bottom: 0;
}
.bckimg {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.backbtn {
    height: 30;
    margin-left: 0;
    margin-top: 0;
    margin-right: 20;
    margin-bottom: 0;
    font-style: bold;
    background-color: #EEEEEE;
    font-size:15;
    color:black;
}
.spl_stack {
    margin-left: 0;
    margin-top: 8;
    margin-right: 0;
    margin-bottom: 0;
    background-color: white;
}
.spl_button {
    font-style: bold;
    background-color: #EEEEEE;
    color:black;
}
#lblspmsg {
    margin-left: 10;
    margin-top: 8;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 15;
}
.noteslbl {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
}
.notesframe{
    border-color:black;
    height:100;
}
#notes {
    margin-left: -15;
    margin-top: -10;
    margin-right: 0;
    margin-bottom: 0;
}
.notesgrid {
    margin-left: 0;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
}
.cargobtnsave {
    color: black;
    margin-left: 170;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 80;
    background-color: #EEEEEE;
}
.cargobtnreset {
    color: black;
    margin-left: 10;
    margin-top: 0;
    margin-right: 15;
    margin-bottom: 0;
    background-color: #EEEEEE;
}
.gridcam {
    background-color: #EEEEEE;
    margin-left: 0;
    margin-top: 20;
    margin-right: 0;
    margin-bottom: 0;
}
.lbltakepic {
    margin-left: 10;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 14;
    background-color: #EEEEEE;
    color: black;
}
.cargocam {
    height: 25;
    width: 25;
    margin-left: 0;
    margin-top: -20;
    margin-right: 10;
    margin-bottom: 0;
}
.cargopicno {
    font-size: 12;
    margin-left: 0;
    margin-top: 30;
    margin-right: 5;
    margin-bottom: 0;
}
.actionlist {
    margin-left: 0;
    margin-top: 5;
    margin-right: 0;
    margin-bottom: 0;
}
.actbtnsave {
    background-color: #EEEEEE;
    width:100;
    height:40;
}
.actbtnreset {
    background-color: #EEEEEE;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10;
    margin-bottom: 0;
    width: 100;
    height: 40;
}
.signature {
    background-color: white;
    width:150;
    height:100;
}
.signgrid {
    background-color: #DDDDDD;
    height:100;
    padding-left:0;
    padding-top:25;
    padding-right:0;
    padding-bottom:0;
       
}
.namelbl {
    margin-left: 5;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    color:black;
}
.gridid {
    height: 30;
    margin-left: 30;
    margin-top: 0;
    margin-right: 5;
    margin-bottom: 0;
    color: black;
}
.emaillbl {
    margin-left: 5;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: black;
}
