################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTAPP10/TESTAPP10/TESTAPP10/obj
/.vs
/TESTAPP10/TESTAPP10/TESTAPP10.Android/obj
/TESTAPP10/TESTAPP10/TESTAPP10.iOS/obj
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/ARM/Debug
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/ARM/Release
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/x64
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/x86
/TESTAPP10/TESTAPP10/TESTAPP10/bin/Debug/netstandard2.0
/TESTAPP10/TESTAPP10/TESTAPP10.Android/bin/Debug
/TESTAPP10/TESTAPP10/TESTAPP10.iOS/bin/iPhoneSimulator/Debug
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/bin/x86/Debug
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj
