################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTAPP10/TESTAPP10/TESTAPP10/obj
