################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TESTAPP10/TESTAPP10/TESTAPP10/obj
/.vs
/TESTAPP10/TESTAPP10/TESTAPP10.Android/obj
/TESTAPP10/TESTAPP10/TESTAPP10.iOS/obj
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/ARM/Debug
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/ARM/Release
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/x64
/TESTAPP10/TESTAPP10/TESTAPP10.UWP/obj/x86
/TESTAPP10/TESTAPP10
/TESTAPP10/.vs/TESTAPP10/v15/Server/sqlite3/db.lock
/TESTAPP10/.vs/TESTAPP10/v15
/TESTAPP10.rar
